.score {
    font-size: 24px;
}

.rules {
    text-align: left;

    li {
        position: relative;
        list-style: none;
        transition: color 1s;

        &:before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $color-text;
            position: absolute;
            top: 11px;
            left: -15px;
        }

        &.error {
            &:before {
                transition: background-color 1s;
                background-color: $color-red;
                -webkit-animation: bounce 1.5s infinite;
                animation: bounce 1.5s infinite;
            }
        }
    }
}

#size {
    margin-top: 40px;
}

#board {
    margin: 0 auto 40px auto;
    background-color: $color-text;
    line-height: 0;
    padding: 1px;
    box-sizing: border-box;

    .cell {
        $cell-size: 48px;
        margin: 0;
        display: inline-block;
        border: 1px solid $color-text;
        background-color: white;
        width: $cell-size;
        height: $cell-size;

        &:hover {
            cursor: pointer;
            &:after {
                content: '';
                display: block;
                width: $cell-size;
                height: $cell-size;
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }
}