.pattern-vertical {
    background-image: linear-gradient(90deg, transparent 40%, rgba(255, 255, 255, .5) 40%);
    background-size: 10px 10px;
}

.pattern-horizontal {
    background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, .5) 40%);
    background-size: 10px 10px;
}

.pattern-diagonal-1 {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, .5) 10px, rgba(0, 0, 0, .5) 20px);
}

.pattern-diagonal-2 {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(0, 0, 0, .5) 10px, rgba(0, 0, 0, .5) 20px);
}

.pattern-zig-zag {
    background: linear-gradient(135deg, rgba(0, 0, 0, .5) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, rgba(0, 0, 0, .5) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, rgba(0, 0, 0, .5) 25%, transparent 25%),
    linear-gradient(45deg, rgba(0, 0, 0, .5) 25%, transparent 25%);
    background-size: 20px 20px;
}